# Ignore everything
anonymous/
apache/
cgi-bin/
contrib/
htdocs/configuration.php
htdocs/cache
img/
install/
licenses/
locale/
mailouput/
mailtodisk/
perl/
php/
phpMyAdmin/
tmp/
webdav/
apache*
catalina*
filezilla*
mercury*
ctlscript.bat
killprocess.bat
mysql_*
passwords.txt
properties.ini
readme_*
service.exe
setup_xampp.bat
test_php.bat
uninstall*
xampp_*
xampp-*
*.log
mysql/*
mysql/backup/test
mysql/backup/performance_schema
htdocs/dirtyroad/wp-content/backups-dup-lite

# But not these files...
!htdocs/
