.banner-section, .about-outer-box{
  width: auto;
  height: auto;
}
/*Banner section*/
.banner-section{
  clip-path: polygon(50% 0, 100% 0, 100% 85%, 50% 100%, 0% 85%, 0 0);
}
.banner-section .wp-block-column.is-vertically-aligned-center {
  position: relative;
  top: 50%;
  left: 8%;
}
h4.banner-small-heading{
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px !important;
}
h1.banner-title {
  letter-spacing: 1px;
  font-size: 45px !important;
}
h4.banner-small-heading:before {
  content: "";
  width: 30px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #88d055;
  border-width: 2px;
}
.banner-section p {
  font-size: 16px !important;
  letter-spacing: 0;
  line-height: 2 !important;
}
.wp-block-buttons.alignleft{
  border: none; 
}
.banner-section a.wp-block-button__link:before {
  content: "";
  width: 60px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #88d055;
  border-width: 2px;
}
.banner-section a.wp-block-button__link, .wp-block-button .wp-block-button__link:hover {
  background: transparent;
  padding: 12px 0px;
  font-size: 15px !important;
}
/*About section*/
.about-outer-box {
  margin: 0 auto !important;
  max-width: 1000px !important; 
}
h2.about-small-heading{
  letter-spacing: 1px;
  font-size: 1rem !important;
}
h3.about-heading{
  font-size: 30px !important;
  letter-spacing: 1px;
  position: relative;
}
h3.about-heading:after{
  content: "";
  border-bottom: solid 3px #88d055;
  position: absolute;
  left: 0px;
  width: 10%;
  bottom: 0px;
}
.about-outer-box .wp-block-button__link:hover {
  padding: 12px 18px;
  background-color: #010203 !important;
  font-size: 12px !important;
}
@media screen and (max-width:1024px) {
  .about-outer-box .wp-block-columns.alignwide {
    margin: 0;
  }
}