#sq_sidebar_layout label{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

#sq_sidebar_layout label input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#sq_sidebar_layout label img{
    vertical-align: middle;
    border: 2px solid transparent;
    width: 90px;
}

#sq_sidebar_layout label input:checked + img{
    border: 2px solid #007CBD;
}

.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

.widget-content .attachment-media-view{
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

.widget-content .placeholder{
    width: 100%;
    position: relative;
    text-align: center;
    cursor: default;
    border: 1px dashed #b4b9be;
    box-sizing: border-box;
    padding: 9px 0;
    line-height: 20px;
}

.widget-content .actions{
    margin-top: 8px;
}

.widget-content .hidden {
    display: none;
}

.widget-content .alignright {
    float: right;
}

.widget-content .alignleft {
    float: left;
}

[data-slug="elementor"] .go_pro,
a[href="admin.php?page=go_elementor_pro"],
#elementor-notice-bar{
    display: none !important;
}